.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: lavender;
}

h1 {
  color: #f66733;
}

form {
  border: 2px solid #f66733;
  border-radius: .4rem;
  padding: 15px;
  margin-top: 15px;
  min-width: 65%;
  max-width: 95%;
}

table {
  border: 2px solid #f66733;
}

.navbar {
  background-color: #f66733;
  margin-bottom: 25px;
}

.navbar-light .navbar-brand {
  color: #522d80;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #522d80;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  min-width: 75%;
  max-width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #f66733;
  border-radius: .4rem;
}

.h5 {
  color: #f66733;
}

.btn-primary {
  background-color: #522d80;
  border-color: #522d80;
  color: #f66733;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #f66733;
  border-color: #f66733;
  color: #522d80;
  font-weight: bold;
}

.form-group {
  text-align: left;
  padding-bottom: 25px;
}

.post {
  border: 2px solid #f66733;
  border-radius: .4rem;
  background-color: white;
  min-width: 65%;
  padding: 15px;
}

.blog-table {
  margin: 25px;
}

#formTitle {
  width: 50%;
}

#formContent {
  height: 10rem;
}

@media only screen and (max-width: 900px){
  form {
    min-width: 85%;
  }
}